body {
    background-color: white;
    color: blue;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(238, 97, 92);
    color: rgb(7, 1, 17);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(1, 9, 12);
}

p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(155, 56, 56);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: black;
    margin-top: 8px;

}