body {
background-color: white;
color: blue;
font-family: Arial, sans-serif;
}
header{
background-color: rgb(238, 97, 92);
color:rgb(7, 1, 17);
text-align: center;
padding: 30px;
}
h1{
    font-size: 36px;
}
h2 {
    color:rgb(1, 9, 12);
}
p{
    font-size: 18px;
    line-height: 1.6;
}

